**DATA TYPES AND STRUCTURES QUESTIONS**

**THEORY QUESTIONS**

1. What are data structures, and why are they important?

Ans.Data structures are a way of organizing and storing data in a computer so that it can be used efficiently. They are important because they enable programs to handle large amounts of information effectively, making code more efficient, understandable, and scalable.

2. Explain the difference between mutable and immutable data types with examples.

Ans.Mutable data types can be modified after they are created, while immutable data types cannot.
Lists,dictionaries and sets are mutable whereas strings and tuples are immutable.

3. What are the main differences between lists and tuples in Python?

Ans.Lists are ordered, changeable (mutable) collections of items. You can add, remove, or modify elements directly within the list.
Tuples are ordered collections of items, similar to lists, but they are immutable.

4. Describe how dictionaries store data.

Ans.Dictionaries store data in key-value pairs. Each value is associated with a unique key, allowing for quick retrieval of data based on its corresponding key.

5. Why might you use a set instead of a list in Python?

Ans. In python, we use a set instead of a list because of uniqueness of elements, fast membership testing, mathematical set operations.

6. What is a string in Python, and how is it different from a list?

Ans.In Python, a string is an immutable sequence of characters, while a list is a mutable sequence of items. Strings are enclosed in single or double quotes, while lists are enclosed in square brackets. Lists can contain items of different data types, whereas strings are sequences of characters.

7. How do tuples ensure data integrity in Python?

Ans.Tuples in Python ensure data integrity primarily through their immutability. This means that once a tuple is created, its elements cannot be changed, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans.A hash table is a data structure that stores key-value pairs using a hash function to compute an index. This allows fast data access, insertion, and deletion. In Python, dictionaries are implemented using hash tables, enabling efficient lookup and management of data through unique, hashable keys.

9. Can lists contain different data types in Python?

Ans.Yes, lists in Python can contain elements of different data types.

10. Explain why strings are immutable in Python.

Ans.Strings are immutable in Python to ensure data integrity, security, and performance. Once created, a string cannot be changed, allowing safe sharing across code. This design supports hashability, enabling strings to be used as dictionary keys. It also optimizes memory usage through interning and avoids unexpected side effects in programs.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans.Dictionaries offer faster data retrieval when accessing elements by key rather than index, making them more efficient for tasks involving key-value lookups and data mapping.

12. Describe a scenario where using a tuple would be preferable over a list.

Ans.Use a tuple if you need an immutable collection where the elements won't change after creation

13. How do sets handle duplicate values in Python?

Ans.Sets automatically remove duplicate values. When elements are added to a set, only unique values are stored. Any repeated items are ignored, ensuring all elements are distinct.

14. How does the "in" keyword work differently for lists and dictionaries?

Ans.In a list, "in" checks if a value exists among the elements.
In a dictionary, "in" checks if a key exists, not its value.

15. Can you modify the elements of a tuple? Explain why or why not.

Ans.No, tuples are immutable. Once created, their elements cannot be changed, added, or removed. This immutability ensures data integrity and allows tuples to be used as dictionary keys.

16. What is a nested dictionary, and give an example of its use case?

Ans.A nested dictionary is a dictionary where values are also dictionaries.
EX:student = {"Mihir": {"age": 21, "grade": "A"}}
Use case: Representing structured data like student records.

17. Describe the time complexity of accessing elements in a dictionary.

Ans.Accessing elements in a dictionary has an average time complexity of O(1) due to its underlying hash table implementation, allowing fast key-based lookups.

18. In what situations are lists preferred over dictionaries?

Ans.Lists are preferred when order matters, duplicate values are needed, or when dealing with sequential data like queues, stacks, or ordered collections without named keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.Before Python 3.7, dictionaries were unordered, meaning key-value pairs didn't retain insertion order. Since Python 3.7+, they preserve order, but logically still focus on key-based access, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans.List:
Lists retrieve data by index, requiring sequential access. Searching for an item has O(n) time complexity. They are ideal for ordered collections of items without key-value pairs.

Dictionary:
Dictionaries retrieve data by key with O(1) complexity. They're optimal for fast lookups and storing related data as key-value pairs, regardless of insertion order or position.

**PRATICAL QUESTIONS**

1. Write a code to create a string with your name and print it.

In [1]:
name = "Arpita Lal"
print("My name is:", name)

My name is: Arpita Lal

2. Write a code to find the length of the string 'Hello World".

In [2]:
string = "Hello World"
length = len(string)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming'.

In [3]:
original_string = "Python Programming"
sliced_string = original_string[:3]
print(sliced_string)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("The second element is:", second_element)

The second element is: b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple (red, green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple (dog', 'cat, rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1


15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()


18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}


22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age: 22, 'city: New York}

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

In [27]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted random numbers:", numbers)

Sorted random numbers: [7, 19, 29, 62, 64]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at third index:", words[3])

Element at third index: date

29. Write a code to combine two dictionaries into one and print the result.

In [29]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined = {**dict1, **dict2}
print("Combined dictionary:", combined)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [30]:
string_list = ['apple', 'banana', 'cherry', 'apple']
string_set = set(string_list)
print("Set from list:", string_set)

Set from list: {'banana', 'cherry', 'apple'}